@model IEnumerable<PetsOnlineShop_PetsBay.Order_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_ShippingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_ShippingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_ShippingState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_ShippingPincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Details_Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Details.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet_Details.Pet_Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_ShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_ShippingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_ShippingState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_ShippingPincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_DeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_ModeOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Details_Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Details.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet_Details.Pet_Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
