@model PetsOnlineShop_PetsBay.Customer_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cusromer_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cusromer_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_ActivationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ActivationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
